PORT=3000
NODE_ENV=development

JWT_SECRET=your-secret-key-here-change-in-production
JWT_EXPIRES_IN=7d

# Server Key
GOOGLE_MAPS_API_KEY=your-google-maps-api-key
DATABASE_PATH=./database/journee.db
FRONTEND_URL=http://localhost:5173
